<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974438021196-8uipf1nhvoa6b2mpbdtgq68fhdpg63sn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974438021196-8uipf1nhvoa6b2mpbdtgq68fhdpg63sn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974438021196-1mq41d6sf0pkf41nmpblmllekhb3nao8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCXTPiqkg6rWHTlGGlsqr-4WD2QWJoodxI</string>
	<key>GCM_SENDER_ID</key>
	<string>974438021196</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.automotive.user</string>
	<key>PROJECT_ID</key>
	<string>cars-5b6c2</string>
	<key>STORAGE_BUCKET</key>
	<string>cars-5b6c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974438021196:ios:4506501453e2a1268adce9</string>
</dict>
</plist>